@model VoucherDTO
@{
    ViewData["Title"] = "Travel Voucher";
}

<div class="text-center">
    <h3 class="m-5">Thank you for your order, please <a href="@Model.VoucherURl" target="_blank">click here </a>to download your voucher</h3>
</div>
